.DS_Store
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#
# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ignore Figures
*.eps

# Ignore Output NetCDFs
steady_state_solutions/notebooks/*/output_netcdfs/*.nc
# Temporarily Ignore one folder
wv_ex_and_tests/*

# Ignore parts of docs folder
docs/_build
docs/_static
docs/_templates

*.nc
